# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

r-type_client
r-type_server
unit_tests
unit_tests_client
unit_tests_server
unit_tests_ecs
unit_tests_protocolHandler
unit_tests_command

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
!./Makefile
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# vcpkg
build/
vcpkg_installed/
vcpkg-configuration.json
vcpkg-manifest-install.log

# Criterion
*.gcda
*.gcno

path/
.vscode
vgcore*
